<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit()" class="needs-validation">
    <div class="title">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" formControlName="title">
      <div *ngIf="form.get('title')?.invalid && form.get('title')?.touched" style="display: block" class="invalid-feedback">
        <p>*Title is required</p>
      </div>
    </div>

    <div class="description">
      <label for="description" class="form-label">Description</label>
      <textarea class="form-control" id="description" formControlName="description"></textarea>
      <div *ngIf="form.get('description')?.invalid && form.get('description')?.touched" style="display: block" class="invalid-feedback">
        <p>*Description is required</p>
      </div>
    </div>

<!--    <div>-->
<!--      <label for="dueDate" class="form-label">Select Date</label>-->
<!--      <input type="date" class="form-control" id="dueDate" formControlName="dueDate">-->
<!--      <div *ngIf="form.get('dueDate')?.invalid && form.get('dueDate')?.touched" style="display: block" class="invalid-feedback">-->
<!--         <p>*Date selection is required</p>-->
<!--      </div>-->
<!--    </div>-->

    <div class="description">
      <label for="responsiblePersonId" class="form-label">Select User</label>
      <select class="form-select" id="responsiblePersonId" formControlName="responsiblePersonId">
        <ng-container *ngFor="let person of persons">
          <option [value]="person.id">{{person.fullName}}</option>
        </ng-container>
      </select>
      <div *ngIf="form.get('responsiblePersonId')?.invalid && form.get('responsiblePersonId')?.touched" >
        <p>*User Section is required</p>
      </div>
    </div>

    <div class="mb-3">
      <button type="submit" class="btn btn-primary">{{todoId ? 'Update todo': 'Create todo'}}</button>
    </div>
  </form>
  <footer>
    <ul *ngIf="tasks.length; else noTasks">
      <li class="task" *ngFor="let task of tasks; let i = index">
          <span>
            <strong>{{i+1}}</strong>
            <strong>{{task.date}}</strong>
           <div class="tasks">
             <p class="tasks-desc">title:  {{task.arr.title}}</p>
             <p class="tasks-desc">description:{{task.arr.description}}</p>
           </div>

        <button class="btn btn-primary" (click)="remove(task);delete(todoId)">Remove</button>
            </span>
      </li>
    </ul>
    <ng-template #noTasks>
      <p class="text-center">NO TASKS YET...</p>
    </ng-template>
  </footer>
</div>
