<div class="container mt-4">
  <div class="d-flex justify-content-between">
    <main>
      <i class="material-icons" (click)="go(-1)">arrow_left</i>
      <span>
      {{dateService.date | async | moment}}
      </span>
      <i class="material-icons" (click)="go(1)">arrow_right</i>

    </main>
    <table>
<!--      <thead>-->
<!--      <tr>Sun</tr>-->
<!--      <tr>Mon</tr>-->
<!--      <tr>Tue</tr>-->
<!--      <tr>Wen</tr>-->
<!--      <tr>Thu</tr>-->
<!--      <tr>Fri</tr>-->
<!--      <tr>Sat</tr>-->
<!--      </thead>-->
      <tbody>
      <tr *ngFor="let week of calendar" class="tr">
        <td *ngFor="let day of week.days" [class.disabled]="day.disabled"
        (click)="select(day.value)">
          <span [class.selected]="day.selected"
                [class.active]="day.active"
          >{{day.value | moment: 'ddd DD'}}</span>
        </td>
      </tr>
      </tbody>
    </table>
    <div>
      Todo List
    </div>
    <div>
      <button class="btn btn-primary" routerLink="/todo">Add</button>
    </div>
  </div>
  <div class="date">{{dateService.date | async | moment: 'DD. MM. YYYY'}}</div>
  <table class="table">
    <thead>
    <tr class="tr">
      <th scope="col" class="th">Title</th>

      <th scope="col" class="th">Description</th>

      <th scope="col" class="th">User</th>

<!--      <th scope="col">Date Select</th>-->

      <th scope="col" class="th">Actions</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let todo of todos">
      <tr [ngClass]="{
      complete: todo.status === 'completed'
      }"
      >
        <div class="body">
        <div class="todoStatus">Title------{{todo.id}}</div>

        <td> Description------{{todo.title}}</td>
        <td> User------{{todo?.responsiblePerson?.fullName}}</td>

<!--        <td>{{todo.createdAt | date:'dd.MM.yyyy'}}</td>-->

        <td> Action-----{{todo.status}}</td>
        </div>

        <td>
          <button class="btn btn-success" (click)="complete(todo.id)">Complete</button>
          <button class="btn btn-primary" routerLink="/todo/edit/{{todo.id}}">Edit</button>
          <button class="btn btn-danger" (click)="delete(todo.id)">Delete</button>

      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
